@font-face {
    font-family: 'Argon';
    src: url('../assets/fonts/MonaspaceArgon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 20px;
    background-color: #181926;
}

.shared {
    width: 100%;
    margin-bottom: 10px;
    font-family: Argon;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #363a4f;
    background-color: #1e2030;
    color: #cad3f5;
    box-sizing: border-box;
}

.shared::placeholder {
    color: #6e738d;
}

textarea {
    height: 150px;
    resize: vertical;
}

#results {
    background-color: #24273a;
    border: 1px solid #494d64;
    white-space: pre-wrap;
    word-wrap: break-word;
}
